<%# <h2 class="custom-font">Todos for Yous!</h2>
<form class="new-post" id="new-post">
  <input class="input-content" type="text" name='todo[name]' id="todo-task" placeholder="Tell us about your interview">
  <select name="todo[bootsyLevel]" id="todo-bootsy-level">
    <option value="" disabled selected>Bootsy Level</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button class="submit-button" type="submit" value='Gimme Some More'>Gimme Some More!</button>
</form>%>
