<!-- END OF NEW POST FORM -->

<div id='accordion' role='tablist' aria-multiselectable='false'>
 <div>
   <div role='tab' id='headingOne'>
     <h4 class='panel-title'>
       <a data-toggle='collapse' class='link' data-parent='#accordion' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne'>
         [Share your experience]<img src="images/ninjaman.png" alt="InfoView">
       </a>
     </h4>
   </div>
       <div id='collapseOne' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingOne'>
      <div class="panel panel-default" style="background-color:#2d2d2d;">
        <div class="panel-body">
         <form class='new-post' id='new-post'>
           <div class='form-group'>
             <label>Company Name</label>
             <input class='form-control ' id='post-company' aria-describedby='emailHelp' placeholder='Enter company name'>
             <small class='form-text text-muted'>This is what company your post is in reference to. </small>
           </div>

           <fieldset class='form-group'>
             <label>I have:</label>
             <div class='radio' id='post-interviewed'>
               <label>
                 <input type='radio' name='optionsRadios1' id='optionsRadios1' value='false' checked>
                 an upcoming interview with this company.
               </label>
             </div>
             <div class='radio'>
               <label>
                 <input type='radio' name='optionsRadios1' id='optionsRadios2' value='true'>
                 interviewed with this company in the past.
               </label>
             </div>
           </fieldset>

           <div class='form-group'>
             <label for='exampleTextarea'>Interview details:</label>
             <textarea class='form-control' id='post-content' rows='5' placeHolder='Share you recent experience, or talk about an upcoming interview you will be having.'></textarea>
           </div>
           <div class='form-group'>

           <fieldset class='form-group'>
             <label>If you have previously interviewed at a company, how was your overall experience?</label>
             <div class='radio'>
               <label>
                 <input type='radio' name='optionsRadios2' id='optionsRadios3' value='true' checked>
                 Positive
               </label>
             </div>
             <div class='radio'>
               <label>
                 <input type='radio' name='optionsRadios2' id='optionsRadios4' value='false'>
                 Negative
               </label>
             </div>
             <%# <div class='radio disabled'>
               <label>
                 <input type='radio' name='optionsRadios2' id='optionsRadios5' value='' >
                 Neutral
               </label>
             </div>%>
           </fieldset>


           <button type='submit' class='btn btn-danger'>Submit</button>
         </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- END OF NEW POST FORM -->
