<!-- BEGIN OF NEW POST FORM -->

<div id='accordion' role='tablist' aria-multiselectable='false'>
  <div>
    <div id='collapseOne' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingOne'>
      <div class="panel panel-default" style="background-color:#2d2d2d;">
        <div class="panel-body">
          <form class='new-reply' id='new-reply'>
            <!-- BEGIN REPLY FIELD -->
            <div class='form-group'>
              <label for='exampleTextarea'>Your Reply:</label>
              <textarea class='form-control' id='reply-content' rows='5' placeHolder='Reply here to the above post.'></textarea>
            </div>
            <!-- END CONTENT FIELD -->

            <!-- BEGIN BONUS FIELD -->
            <div class='form-group'>
              <label for='exampleTextarea'>Bonus Tips:</label>
              <textarea class='form-control' id='post-bonusTips' rows='3' placeHolder='Any bonus tips to prepare you and others for the next time you interview at that company?'></textarea>
            </div>
            <!-- END BONUS TIPS FIELD -->

            <!-- BEGIN SUBMIT BUTTON -->
            <button type='submit' class='btn btn-danger'>Submit</button>
            <!-- END SUBMIT BUTTON -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- END OF NEW POST FORM -->
