<div class='modal-header'>
  <div class='modal-content'>
    <!-- modal header -->
    <div class='modal-header'>

      <div class='modal-title'>

      </div>

    </div>

    <!-- modal body -->
    <div class='modal-body'>

      <h5 id='post-display-name'>Post Details:</h5>

      <div class='modal-post-details'>

      </div>

    </div>

    <!-- modal footer -->
    <div class='modal-footer'>

      <% include ../partials/reply_form %>

      <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>

    </div>
  </div>
</div>
