body {
  background: url('../images/ninjas_background.png')no-repeat center center fixed;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 70px; /* fix nav overlap */
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #eaeaea;
}

/* the linked to redirect to new post */
.link {
  color: #eaeaea;
  border: 2px solid #af0000;
  box-shadow: 3px 3px 3px 2px #262626;
  background-color: #3c3c3c;
  border-radius: 25px;
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  font-family: herculanum;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.link:active {
  box-shadow: 0 3px 0 #262626;
  top: 3px;
}

/* when you hover over a link colors inverse */
.link:hover {
  color: #C31616;
  border: 2px solid #af0000;
  box-shadow: 2px 2px 2px 1px #262626;
  background-color: #282828;
  border-radius: 25px;
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  font-family: herculanum;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/* list of posts */
.groupList {
  padding: 2%;
  background-color: #2d2d2d;
  border: 2px solid #3C0D0E;
}

strong {
  font-family: herculanum;
  font-size: 18px;
  text-transform: uppercase;
  font-style: bold;
}
