<h3> About Page!!</h3>

<p>
  Interviews are stressfull. But what if you had a cheat sheet of sorts, like a Sensei who could mold a young grasshopper to become a class a Interview Ninja Warrior. Enter the InfoView dojo! Ask your Sensei what you need training in, so you can easily defend yourself against the evil whiteboard of death!

  SEAN ROCKS
</p>
