<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <% include ../partials/form %>
  <center>
    <img src="images/karatekid.png" style='image-size:70%;'>
  </center>
  <div class='container posts-content'>
        <h4 class='custom-font'>Check out recent experience others have had during interviews, or talk about an upcoming interviews others will be having.</h4>
          <ul id='posts-list' class='list-group'>
            <!-- THIS IS WHERE THE POST LIST WILL APPEND -->
          </ul>
      </div>
  <% include ../partials/scripts %>
</body>
</html>
