<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav', {page: 'dashboard'}) %>
  <div class="container posts-content">

    <div class="row">
      <div class="posts">
        <h4 class="custom-font">Interviews suck!!!! Talk here</h4>
        <article class="my-life posts-column">
          <ul id="posts-list">
              <!-- <li class="todo-item bootsy1">
              Wear star-shaped glasses
              <input type="checkbox" name="todo[completed]" checked />
              <span class="remove-item">X</span>
            </li> -->
          </ul>
        </article>
      </div>
    </div>
  </div>
  <%- include('../partials/scripts') %>
</body>
</html>
