<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class=content>
    <div class='container sign-in'>
    <h1 class='titleName center'><%= title %></h1>



	    <a href='/auth/linkedin'>

        <img class='center' alt='Linkedin' src='/images/Sign-in-Default.png' >


      </a>
      <div class="row">

        <div class="about-us-line"><span class='about'>about us</span></div>

        <div class='about-description'>
          <div class="descr-words">

            <p>
              Interviews are stressful. But what if you had a cheat sheet of sorts, like a Sensei who could mold a young grasshopper to become a class a Interview Ninja. Enter the InfoView dojo! Ask someone at a specific company what their interview process was like, tips on what to brush up on, what to wear, or the best parts of working for that company.


            </p>
          </div>

        </div>
      </div>
    </div>
    <div class='container sign-in-picture'>


    </div>
  </div>
</div>

    </div> <!--container div -->
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>
