<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class='container sign-in'>
    <h1 class='titleName center'><%= title %></h1>

    <%# <div class='col-md-4'></div>%>
    <%# <div class='col-md-5 offset-md-4 text-center'>%>

	    <a href='/auth/linkedin'><img class='center' alt='Linkedin' src='/images/Sign-in-Default.png' ></a>
    </div>

    </div> <!--container div -->
      <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>
